.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2533AE;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card{
  margin-top:10px;
}

.result{
  margin-top:20px;
}

.footer{
    background: #fff;
    color: #959e9e;
    padding: 19px 0 0 0;
    position: inherit;
    display: inline-block;
     max-height: 100px;
    width: 100%;
  }

    .col-md-12, .text-center{
      background:black;
  }

  .error-message{
    color: red;
  }


  .success-message{
    color: green;
  }